body{
    height: 100%;
    font-size: 1.2rem;
}
div.kutu1{
    background-color: aqua;
    width: 5cm;
    height: 30%;
}

div.kutu2{
    background-color: blueviolet;
    width: 350px;
    height: 30%;
}

div.kutu3{
    background-color: blue;
    width: 50%;
    height: 300px;
    font-size: 2rem;
}

div.kutu4{
    background-color: burlywood;
    width: 30px;
    height: 50%;
}

div.kutu5{
    background-color: cadetblue;
    width: 50vw;
    height:40vh ;
}
