body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    
}
nav.menu-navbar{
    background-color:rgb(31, 186, 186);
}
ul.menu{
    list-style-type:"🍋" ;
    list-style-position: inside;
    padding: 0;

}
a.main-link{
    padding: 5px;
}
a.main-link:hover{
    color: white;
    background-color: royalblue;
}
ul li{
    padding:10px
}